.nav-link {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(128, 174, 226);
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scale(1);
}
